.calculator-body{
    background: white;
    /* width: 80vw; */
    max-width: 80%;
    height: auto;
    /* padding:15px 20px 15px 400px; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, auto); /*3 vs other values*/
    grid-gap: 10px;
    text-align: left;
}

.calculator-screen{
    background:white;
    width: 450px;
    height: 50px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
    font-size:25px;
}
