.footer-container{
    background: linear-gradient(90deg, #5193b3 0%, #5f9fbe 100%);
    justify-content: center;
    align-items: center;
    font-size:1.2 rem;
    display: grid;
    grid-template-columns: repeat(2, auto); /*3 vs other values*/
    grid-gap: 10px;
    text-align: left;
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
}

.team-photo{
    height: 200px;
    width: 200px;
}



.contact-container{
    display: grid;
    grid-template-columns: repeat(3, auto); /*3 vs other values*/
    grid-gap: 20px;
    text-align: left;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 23px;
    letter-spacing: 1.2px;
    word-spacing: 1.6px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    cursor: pointer;
}
